<div class="container">
    <app-header></app-header>
    <!-- <input [(ngModel)]="text" placeholder="Type here..." /> -->
    <app-game-settings (selectionChange)="handleSelectionChange($event)"></app-game-settings>
    <app-virtual-keyboard (keyPress)="handleKeyPress($event)" [disabledKeys]="disabledKeys"></app-virtual-keyboard>

    <!-- <div style="color: green; border: 1px solid orange;">
    Guess Word : {{guessWord}}
</div> -->
    <div class="word-stack">
        <ng-container *ngFor="let item of guesses">
            <div class="word">
                <span class="letter" *ngFor="let letter of item.word | split">{{ letter }}</span> {{ item.matchingLettersCount }} -- {{ item.matchedCharacterCount}}
            </div>
        </ng-container>
        <div class="word">
            <span class="letter" *ngFor="let letter of text | split">{{ letter }}</span>
            <!-- <span class="letter" *ngFor="let _ of range(); let i = index"></span> -->
        </div>

        <div style="color: red;">{{errorMessage}}</div>
    </div>
    <!-- {{disabledKeys | json}} -->
</div>