.funky-btn {
    font-size: 1rem;
    border-radius: 4px;
    padding: 1px 5px;
}

.funky-select {
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px;
    background-color: #222;
    color: #ff7eb3;
    border: 2px solid #ff758c;
}

.funky-submit {
    background: linear-gradient(90deg, #ff6f61, #de4d86);
    color: white;
    padding: 12px 25px;
    border-radius: 12px;
    font-size: 1.3rem;
    transition: 0.3s;
}

.funky-submit:hover {
    background: linear-gradient(90deg, #de4d86, #ff6f61);
    transform: scale(1.05);
}