<div class="container">
    <div class="keyboard">
        <div *ngFor="let row of keys" class="row">
            <button class="col-auto key" *ngFor="let key of row" (click)="onKeyPress(key)" [disabled]="key | disableElement: disabledKeys" [ngClass]="{'special': (key === 'Backspace') || (key === 'Enter')}">
           <span *ngIf="!['Backspace', 'Enter'].includes(key)"> {{ key }} </span>
           <span *ngIf="key === 'Backspace'">⌫</span>
           <span *ngIf="key === 'Enter'">&#9166;</span>
      </button>
        </div>
        <!-- <div class="row">
        <button (click)="onKeyPress('Backspace')" class="special">⌫</button>
        <button (click)="onKeyPress('Enter')" class="space">Enter</button>
    </div> -->
    </div>
</div>
<!-- --- {{disabledKeys | json}} --- -->