.keyboard-container {
    left: 0;
    right: 0;
    bottom: 1rem;
    .keyboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        width: 100%;
        max-width: 600px;
        margin: auto;
        padding: 10px 0;
        .row {
            display: flex;
            justify-content: center;
            gap: 4px;
            width: 100%;
            .key {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #f8f9fa; // Bootstrap light gray
                border: 1px solid #ccc;
                border-radius: 6px;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                width: 40px;
                height: 56px;
                // min-width: 40px;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
                &:hover {
                    background: #e9ecef;
                }
                &:active {
                    background: #dee2e6;
                    transform: scale(0.95);
                }
                &.wide {
                    width: 15%;
                }
            }
        }
        // Responsive Styles for Different Screens
        @media (max-width: 768px) {
            .key {
                font-size: 16px !important;
                height: 56px !important;
            }
        }
        @media (max-width: 480px) {
            .key {
                font-size: 12px !important;
                height: 48px !important;
                min-width: 34px !important;
                width: 34px !important;
            }
        }
        @media (max-width: 400px) {
            .key {
                font-size: 12px !important;
                height: 40px !important;
                min-width: 28px !important;
                width: 28px !important;
            }
        }
    }
}